{% extends 'base.html' %}

{% block content %}
    <h1>Главная страница</h1>
    <hr>
    {% if user.is_authenticated %}
        {% if user.role.name == 'Админ' or user.is_superuser %}
            <a href="{% url 'user_list' %}">Пользователи</a><br><br>
            <a href="{% url 'article_list' %}">Проект</a><br><br>
            <a href="{% url 'article_create' %}">Создать проект</a><br><br>
        {% elif user.role.name == 'Автор' %}
            <a href="{% url 'article_list' %}">Проект</a><br><br>
            <a href="{% url 'article_create' %}">Создать проект</a><br><br>
        {% elif user.role.name == 'Пользователь' %}
             <a href="{% url 'article_list' %}">Проект</a><br><br>
        {% endif %}
    <a href="{% url 'edit_profile' %}">Изменить данные</a><br><br>
    <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}">Логин</a><br><br>
        <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
{% endblock %}
