{% extends 'base.html' %}

{% block content %}
    <div class="registration-form">
        <h1>Регистрация</h1>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                {{ form.username }}
                {% if form.errors.username %}
                    <p class="error">{{ form.errors.username.0 }}</p>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
                {% if form.errors.email %}
                    <p class="error">{{ form.errors.email.0 }}</p>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                <label for="{{ form.region.id_for_label }}">Регион</label>
                {{ form.region }}
                {% if form.errors.region %}
                    <p class="error">{{ form.errors.region.0 }}</p>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Пароль</label>
                {{ form.password1 }}
                {% if form.errors.password1 %}
                    <p class="error">{{ form.errors.password1.0 }}</p>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Повторите пароль</label>
                {{ form.password2 }}
                {% if form.errors.password2 %}
                    <p class="error">{{ form.errors.password2.0 }}</p>
                {% endif %}
            </div>
            <br>
            <button class="btn">Подтвердить</button>
        </form>
    </div>
{% endblock %}